body {
  background-color: #ff7fff;
  width: 100%;
  margin: 0px;
}
.first {
  border: hidden;

  background-color: white;
  margin-left: 10px;
  width: 20%;
  float: left;
}
.second {
  border: hidden;
  background-color: white;
  margin-left: 10px;
  width: 20%;
  float: left;
}
.third {
  border: hidden;
  background-color: white;
  margin-left: 10px;
  width: 20%;
  float: left;
}
.fourth {
  border: solid;
  border-right: hidden;
  border-left: hidden;
  float: none;
  clear: both;
  margin-top: 50px;
  margin-left: 10px;
}
.fifth {
  border: hidden;
  background-color: white;
  margin-left: 10px;
  width: 20%;
  float: left;
  clear: both;
}
.sisth {
  border: hidden;
  background-color: white;
  margin-left: 10px;
  width: 20%;
  float: left;
}
