.container {
  width: 500;
  border: hidden;
}
.box1 {
  width: 75px;
  height: 75px;
  background-color: yellow;
  margin: 10px;
}
.box2 {
  width: 75px;
  height: 75px;
  background-color: yellow;
  margin: 10px;
}
.box3 {
  width: 75px;
  height: 75px;
  background-color: yellow;
  margin: 10px;
}
.box4 {
  width: 75px;
  height: 75px;
  background-color: yellow;
  margin: 10px;
}
.box5 {
  width: 75px;
  height: 75px;
  background-color: yellow;
  margin: 10px;
}
