div {
  border: solid #484843 2px;
  background-color: white;
  padding-bottom: 10px;
  padding-left: 10px;
}
body {
  background-color: #ffffce;
}
.container {
  margin-top: 30px;
  border-style: solid #484843 2px;
  background-color: white;
}
p {
  border: dashed red;
  margin-right: 10px;
}
article {
  color: red;
  border: dashed 2px red;
  background-color: white;
  margin-top: 30px;
  padding: 10px 10px;
}
